.card {
    color: #D4A373;
    background-color: #E9EDC9;
    font-weight: 600;
    height: 100%;
    border-radius: 20px;
    border: transparent;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 50px;
}

.recupera {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
    text-decoration: none;
    margin-bottom: 2em;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn {
    background-color: #D4A373;
    font-weight: 600;
    font-size: 30px;
    border: #D4A373;
}

.btn:hover {
    background-color: #9b754f;
}

